#header h1 {
   text-align: center;
    margin-top: 0;
   margin-bottom:0;
   padding-top: 40px;
   padding-bottom: 40px;
   color: #cebc81
   
}

#container {
margin-left: auto;
margin-right: auto;
width: 700px;

}

body { 
    background-color: #19181a; 
}

#container img {
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
    margin-left: 25px;
    margin-right: 25px;
    width: 300px;
    height: 300px;
    
}

#main p {

    text-align: left;
    line-height: 22px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: #479761;
}

h2 {
    text-align: center;
    color:#cebc81 ;
}

#h2 sub {

    font-size: medium;
}

#main ul {

    color: #000000;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#main ul li{

    background-color: #000000;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 15px;
}

#main ul li a:link{
    color: #479761;
}

#footer {
height: 100px;
color: #c59b13;

}

#footer p {

    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

body p#contact-page  {

    text-align: center;
}